<div style="background-color:blue">
  <h1>
    Welcome to this survey
  </h1>

  <table *ngFor="let question of questions;index as i ">
    <tr> <td> {{question.num}} </td><td> {{question.q}} </td> <td> <button (click) ="pickAnswer($event,1,i)"> {{question.answer1}} </button> </td> <td> <button > {{question.answer2}} </button> </td> </tr>

  </table>
  
</div>
<app-question [actualText]="actualText" (select)="onChoise($event)" ></app-question>  <!-- 3: subscribing to the event-->

<router-outlet></router-outlet>
